<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Search for an artist on Spotify and generate a list with the most popular songs of that artist.">
    <title>Popular Track Generator</title>

    <!-- jquery -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer type="module" src="/js/script.js"></script>

    <script defer type="module" src="/js/user_feedback.js"></script>

    <link rel="icon" href="/icons/microphone-icon.svg" sizes="any" type="image/svg+xml">
    <link rel="manifest" href="manifest.webmanifest">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
          rel="preload"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">

</head>
<body>