<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Track Generator</title>




    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <!-- Material ui icons -->
    <!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

    <!-- The microphone icon of the website (favicon) -->
    <link rel="icon" href="/icons/microphone-icon.svg" sizes="any" type="image/svg+xml">
    <link rel="manifest" href="manifest.webmanifest">

    <link rel="stylesheet" href="/css/styles.css">
    <!-- Custom font-->

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
          rel="stylesheet">


    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="/js/script.js"></script>

    <script type="module" src="/js/user_feedback.js"></script>
</head>
<body>