<%- include ("./partials/head.ejs") %>

<div class="main-content centered">
    <h1><label for="artist-name-input">Search the most popular tracks of your favorite artist</label></h1>
    <div id="search-wrapper" class="centered">

        <div id="app-actions-container">
            <a id="authorize" class="hidden">
                <img alt="Authorize user button" class="button-icon"
                     src="/icons/spotify_icon.png">
                <h5 id="connect-spotify-button-text">Connect With Spotify</h5>
            </a>
            <a id="install-app" class="hidden">
                <img alt="Plus icon, click to install the app" class="button-icon"
                     src="/icons/add_circle_outline-24px.svg">
                <h5 id="install-app-text">Install app</h5>
            </a>
        </div>

        <form class="artist-search-input-container" action="/" method="GET">
            <input id="artist-search-input" name="q" type="text" placeholder="Search for artist...">
            <button id="artist-name-input-submit" type="submit">
                <img alt="Search" class="search-icon" src="/icons/search-24px.svg">
            </button>
        </form>

        <div id="user-feedback-container">
            <div class="user-feedback">
                <img alt="The action performed is currently being loaded" id="loading-animation"
                     class="user-feedback-icon hidden" src="/css/loading-animation.svg"
                     width="40" alt="">
                <img alt="The action performed was successful" id="success-icon" class="user-feedback-icon hidden"
                     src="/icons/check_circle_outline-24px.svg">
                <img alt="The action performed was not successful" id="error-icon" class="user-feedback-icon hidden"
                     src="/icons/error_outline-24px.svg">
            </div>
            <div class="user-feedback">
                <h4 id="user-feedback-title"></h4>
                <p id="user-feedback-text"></p>
            </div>
        </div>
        <div id="search-result">
            <%- searchResult %>
        </div>

        <div id="most-popular-tracks">
            <%- tracksResult %>
        </div>
    </div>
</div>

<%- include ("./partials/footer.ejs") %>