<%- include ("./partials/head.ejs") %>

<div class="main-content centered">
    <h1>Search the most popular tracks of your favorite artist</h1>
    <div class="search centered">
        <input id="artist-name-input" class="artist-search-input" type="text" list="word-list"
               placeholder="Search for artist...">
        <!-- <button id="show-feedback">Show feedback</button>
        <button id="hide-feedback">Hide feedback</button> -->
        <!--        <div id="user-feedback-container">-->
        <!--            <div class="user-feedback">-->
        <!--                <img id="loading-animation" class="user-feedback-icon" src="public/css/loading-animation.svg"-->
        <!--                     width="40" alt="">-->
        <!--                <i id="success-icon" class="material-icons user-feedback-icon">check_circle_outline</i>-->
        <!--                <i id="error-icon" class="material-icons user-feedback-icon">error_outline</i>-->
        <!--            </div>-->
        <!--            <div class="user-feedback">-->
        <!--                <h4 id="user-feedback-title">Parsing albums</h4>-->
        <!--                <p id="user-feedback-text">3 / 5 albums parsed</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <div id="search-result">

        </div>

        <div id="most-popular-tracks">

        </div>
    </div>
</div>

<%- include ("./partials/footer.ejs") %>